name = "ai-online-store"
main = "src/workers.js"
compatibility_date = "2024-10-01"
[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true

[ai]
binding = "AI"
